# -----------------------
# Miscellaneous
# -----------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -----------------------
# IDE / Editor
# -----------------------
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code workspace settings (ignore user-specific settings)
.vscode/

# -----------------------
# Flutter / Dart
# -----------------------
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# iOS / Xcode
*.xcworkspace
*.xcuserstate
DerivedData/
*.mode1v3
*.pbxuser
*.perspectivev3
*.xcuserdatad
*.xccheckout

# Android build files
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle
/android/build/
*.apk
*.aab

# -----------------------
# Node.js
# -----------------------
node_modules/
# Usually it's good to commit package-lock.json to ensure consistent installs
# Remove from ignore if you want consistent dependency versions
# package-lock.json
yarn.lock

# -----------------------
# Secrets
# -----------------------
admin-portal/serviceAccount.json
admin-portal/config.js
android/app/google-services.json

# -----------------------
# Symbolication / Obfuscation
# -----------------------
app.*.symbols
app.*.map.json
